@import "tailwindcss";

:root {
  --nyt-black: #121212;
  --nyt-gray: #666;
  --nyt-light-gray: #e2e2e2;
}

body {
  background: #fff;
  color: var(--nyt-black);
  font-family: 'Source Serif 4', Georgia, serif;
}

.font-blackletter {
  font-family: 'UnifrakturMaguntia', serif;
}

.font-playfair {
  font-family: 'Playfair Display', Georgia, serif;
}

.font-fell {
  font-family: 'IM Fell English', Georgia, serif;
}
